//rem
html {
    font-size:62.5%;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size:$m-size;
}

button {
    cursor:pointer;
}

button:disabled {
    cursor:default;
}

.is-active {
    font-weight:bold;
}

ul li {
    list-style-type: none;
    float: left;
    margin-right:$m-size;
}
ul {
    overflow: hidden;
}